{
  "App": {  
    "SelfUrl": "https://{{ ansible_host }}:5000",
    "CorsOrigins": "https://*.Cars.com,http://*:5000,https://*:5000,http://*:5000,http://{{ ansible_host }}:5000,https://192.168.1.20",
  },
  "RemoteServices": {
    "Default": {
      "BaseUrl": "https://{{ ansible_host }}:5000"
    }
  },
  "Redis": {
    "Configuration": "{{ groups['redis'][0] }},abortConnect=false,password={{ redis_password }}"
  },
  "ConnectionStrings": {
    "Default": "Server={{ groups['database'][0] }};Database=Cars;User Id=sa;Password={{ database_password }};TrustServerCertificate=True"
  },
  "AuthServer": {
    "Authority": "https://{{ groups['identity_server'][0] }}:5000",
    "RequireHttpsMetadata": "true",
    "ClientId": "{{ openiddict_application_identifier }}_Swagger",
    "ClientSecret": "1q2w3e*"
  },
"OpenIddict": {
    "Applications": {
      "{{ openiddict_application_identifier }}_Web": {
        "ClientId": "{{ openiddict_application_identifier }}_Web",
        "ClientSecret": "1q2w3e*",
        "RootUrl": "https://localhost:44377"
      },
      "{{ openiddict_application_identifier }}_App": {
        "ClientId": "{{ openiddict_application_identifier }}_App",
        "RootUrl": "http://localhost:4200"
      },
      "{{ openiddict_application_identifier }}_BlazorServerTiered": {
        "ClientId": "{{ openiddict_application_identifier }}_BlazorServerTiered",
        "ClientSecret": "1q2w3e*",
        "RootUrl": "https://{{ groups['webserver'][0] }}:5000"
      },
      "{{ openiddict_application_identifier }}_Swagger": {
        "ClientId": "{{ openiddict_application_identifier }}_Swagger",
        "ClientSecret": "1q2w3e*",
        //"RootUrl": "https://{{ ansible_host }}:5000"
        "RootUrl": "https://{{ groups['proxy'][0] }}"
      }
    }
  },
  "StringEncryption": {
    "DefaultPassPhrase": "TPX5DfbeSrrK8KBI"
  },
  //https://www.baeldung.com/openssl-self-signed-cert
  "Kestrel": {
    "Endpoints": {
      "CarsBeHttpsEndpoint": {
        "Url": "https://{{ ansible_host }}:5000",        
        "ClientCertificateMode": "AllowCertificate",
        "Certificate": {
          "Path": "{{http_api_install_folder }}certificate.pem",
          "KeyPath": "{{http_api_install_folder }}certificate.key",
          "Password": "cars.be"
        }
      }
    }
  },
  "ServiceName": "TJILP-HttpApiHost",
  "AllowedHosts": "*",
  "UseTracingExporter": "console",
  "UseMetricsExporter": "console",
  "UseLogExporter": "console",
  "HistogramAggregation": "explicit",
  "Otlp": {
    "Endpoint": "http://{{ groups['otlp_controller'][0] }}:4317"
  }
}