{
  "App": {  
    "SelfUrl": "https://{{ groups['webserver'][0] }}:5000",
    "CorsOrigins": "https://*.Cars.com,http://*:5000,https://*:5000,http://*:5000,http://192.168.1.64:5000",
  },
  "RemoteServices": {
    "Default": {
      "BaseUrl": "https://{{ groups['http_api'][0] }}:5000"
    }
  },
  "Redis": {
    "Configuration": "{{ groups['redis'][0] }},abortConnect=false,password={{ redis_password }}"
  },
  "ConnectionStrings": {
    "Default": "Server={{ groups['database'][0] }};Database=Cars;User Id=sa;Password={{ database_password }};TrustServerCertificate=True"
  },
  "AuthServer": {
    "Authority": "https://{{ groups['identity_server'][0] }}:5000",
    "RequireHttpsMetadata": "false",
    "ClientId": "Cars_BlazorServerTiered",
    "ClientSecret": "1q2w3e*"
  },
    "OpenIddict": {
    "Applications": {
      "Cars_Web": {
        "ClientId": "Cars_Web",
        "ClientSecret": "1q2w3e*",
        "RootUrl": "https://localhost:44377"
      },
      "Cars_App": {
        "ClientId": "Cars_App",
        "RootUrl": "http://localhost:4200"
      },
      "Cars_BlazorServerTiered": {
        "ClientId": "Cars_BlazorServerTiered",
        "ClientSecret": "1q2w3e*",
        "RootUrl": "https://{{ groups['webserver'][0] }}:5000"
      },
      "Cars_Swagger": {
        "ClientId": "Cars_Swagger",
        "RootUrl": "https://{{ groups['http_api'][0] }}:5000"
      }
    }
  },
  "StringEncryption": {
    "DefaultPassPhrase": "TPX5DfbeSrrK8KBI"
  },
  //https://www.baeldung.com/openssl-self-signed-cert
  "Kestrel": {
    "Endpoints": {
      "CarsBeHttpsEndpoint": {
        "Url": "https://{{ groups['http_api'][0]}}:5000",
        "ClientCertificateMode": "AllowCertificate",
        "Certificate": {
          "Path": "{{http_api_install_folder }}certificate.pem",
          "KeyPath": "{{http_api_install_folder }}certificate.key",
          "Password": "cars.be"
        }
      }
    }
  }
}