[Unit]
Description=Webserver Blazor
Requires=network.target
After=syslog.target network.target
[Service]
Environment="ASPNETCORE_ENVIRONMENT={{ asp_net_core_environment }}"
WorkingDirectory={{identityserver_install_folder}}build/
ExecStart={{identityserver_install_folder}}build/Be.Cars.AuthServer
# Restart service after 10 seconds if the dotnet service crashes:
Restart=on-failure
User=root
Environment="ASPNETCORE_URLS=https://*:5000"
[Install]
WantedBy=multi-user.target