{
  "App": {
    "SelfUrl": "https://{{ groups['identity_server'][0] }}:5000",
    "ClientUrl": "https://{{ groups['identity_server'][0] }}:5000",
    "CorsOrigins": "https://*.Cars.com,http://*:5000,https://*:5000,http://*:5000,https://192.168.1.64:5000,https://192.168.1.68:5000,https://192.168.1.69:5000,https://192.168.1.20",
    "RedirectAllowedUrls": "http://*:5000,https://*:5000,http://*:44369,http://*:44318,https://192.168.1.20"
  },
  "ConnectionStrings": {
    "Default": "Server={{ groups['database'][0] }};Database=Cars;User Id=sa;Password={{ database_password }};TrustServerCertificate=True"
  },
  "Redis": {
    "Configuration": "{{ groups['redis'][0] }},abortConnect=false,password={{ redis_password }}"
  },
  "StringEncryption": {
    "DefaultPassPhrase": "TPX5DfbeSrrK8KBI"
  }
}