{
  "App": {
    "SelfUrl": "https://{{ groups['webserver'][0] }}:5000"
  },
  "RemoteServices": {
    "Default": {
      "BaseUrl": "https://{{ groups['http_api'][0] }}:5000"
    }
  },
  "Redis": {
    "Configuration": "{{ groups['redis'][0] }},abortConnect=false,password={{ redis_password }}"
  },
  "ConnectionStrings": {
    "Default": "Server={{ groups['database'][0] }};Database=Cars;User Id=sa;Password={{ database_password }};TrustServerCertificate=True"
  },
  "AuthServer": {
    "Authority": "https://{{ groups['identity_server'][0] }}:5000",
    "RequireHttpsMetadata": "true",
    "ClientId": "Cars_BlazorServerTiered",
    "ClientSecret": "1q2w3e*"
  },
  "StringEncryption": {
    "DefaultPassPhrase": "TPX5DfbeSrrK8KBI"
  }
}