{
  "App": {  
    "SelfUrl": "https://{{ groups['webserver'][0] }}:5000",
    "CorsOrigins": "https://{{ project_domain }},http://*:5000,https://*:5000,http://*:5000,http://192.168.1.64:5000,https://{{ groups['proxy'][0] }}",
  },
  "RemoteServices": {
    "Default": {
      "BaseUrl": "https://{{ groups['http_api'][0] }}:5000"
    },
    "AbpAccountPublic": {
      "BaseUrl": "https://{{ groups['identity_server'][0] }}:5000"
    }
  },
  "Redis": {
    "Configuration": "{{ groups['redis'][0] }},abortConnect=false,password={{ redis_password }}"
  },
  "ConnectionStrings": {
    "Default": "Server={{ groups['database'][0] }};Database=Cars;User Id=sa;Password={{ database_password }};TrustServerCertificate=True"
  },
  "AuthServer": {
    //"Authority": "https://{{ groups['identity_server'][0] }}:5000",
    "Authority": "https://identity.{{ project_domain }}/",
    "RequireHttpsMetadata": "true",
    "ClientId": "{{ openiddict_application_identifier }}_BlazorServerTiered",
    "ClientSecret": "1q2w3e*"
  },
"OpenIddict": {
    "Applications": {
      "{{ openiddict_application_identifier }}_Web": {
        "ClientId": "{{ openiddict_application_identifier }}_Web",
        "ClientSecret": "1q2w3e*",
        "RootUrl": "https://localhost:44377"
      },
      "{{ openiddict_application_identifier }}_App": {
        "ClientId": "{{ openiddict_application_identifier }}_App",
        "RootUrl": "http://localhost:4200"
      },
      "{{ openiddict_application_identifier }}_BlazorServerTiered": {
        "ClientId": "{{ openiddict_application_identifier }}_BlazorServerTiered",
        "ClientSecret": "1q2w3e*",
        "RootUrl": "https://{{ project_domain }}"
      },
      "{{ openiddict_application_identifier }}_Swagger": {
        "ClientId": "{{ openiddict_application_identifier }}_Swagger",
        "ClientSecret": "1q2w3e*",
        //"RootUrl": "https://{{ ansible_host }}:5000"
        //"RootUrl": "https://{{ groups['proxy'][0] }}"
        "RootUrl": "https://{{ project_domain }}"
      }
    }
  },
  "StringEncryption": {
    "DefaultPassPhrase": "TPX5DfbeSrrK8KBI"
  },
  //https://www.baeldung.com/openssl-self-signed-cert
  "Kestrel": {
    "Endpoints": {
      "CarsBeHttpsEndpoint": {
        "Url": "https://{{ groups['webserver'][0] }}:5000",
        "ClientCertificateMode": "AllowCertificate",
        "Certificate": {
          "Path": "{{webserver_install_folder }}certificate.pem",
          "KeyPath": "{{webserver_install_folder }}certificate.key",
          "Password": "cars.be"
        }
      }
    }
  }
}